.ToggleButton {
  background: transparent;
  border: 1px solid transparent;
  position: relative;
}
.ToggleButton:focus {
  outline-width: 0;
}
.ToggleButton:hover {
  cursor: pointer;
}
.ToggleButton [class*='bar-'] {
  -ms-transform: rotate(0deg);
  -o-transition: 0.2s ease all;
  -webkit-transform: rotate(0deg);
  -webkit-transition: 0.2s ease all;
  background: #fff;
  border-radius: 8px;
  display: block;
  height: 3px;
  margin-bottom: 7px;
  transform: rotate(0deg);
  transition: 0.2s ease all;
  width: 35px;
}
.ToggleButton[data-dark="true"] [class*='bar-'] {
  background-color: #565656;
}
.ToggleButton[data-dark="true"]:hover {
  transition: 0.1s ease all;
}
.ToggleButton[data-dark="true"]:hover .bar-top {
  transform: rotate(90deg);
  transform-origin: 20% 15%;
  opacity: 0;
}
.ToggleButton[data-dark="true"]:hover .bar-mid {
  transform: rotate(90deg);
  transform-origin: 50% 35%;
}
.ToggleButton[data-dark="true"]:hover .bar-bot {
  transform: rotate(90deg);
  transform-origin: 80% 45%;
}
.ToggleButton .bar-bot {
  margin-bottom: 0;
}
.ToggleButton[data-open='true'] .bar-top {
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 15% 15%;
  transform: rotate(45deg);
  transform-origin: 10% 15%;
}
.ToggleButton[data-open='true'] .bar-mid {
  opacity: 0;
}
.ToggleButton[data-open='true'] .bar-bot {
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 15% 95%;
  transform: rotate(-45deg);
  transform-origin: 10% 95%;
}
